.splashPage{
    display: flex;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splashContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.splashImg{
    width: 75%;
    height: 110%;
    /* overflow: hidden; */
    mask-image: linear-gradient(to right, black, transparent);
    border-top: 70px;
    border-left: 50px;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
}