.splashPage{
    display: flex;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splashContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.splashImg{
    width: 75%;
    height: 110%;
    /* overflow: hidden; */
    mask-image: linear-gradient(to right, black, transparent);
    border-top: 70px;
    border-left: 50px;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

button{
    font-family: "Cal Sans", sans-serif;
    border-radius: 8px;
    border: solid 2px #2b3347;
    background-color: #2b3347;
    color: #5b6886;
    padding: 8px 16px;
}

button:hover{
    background-color: #424F6D;
    color: #2b3347;
    cursor: pointer;
}