.splashContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.splashImg{
    width: 75%;
    /* overflow: hidden; */
    mask-image: linear-gradient(to right, black, transparent);
    border-top: 70px;
    border-left: 50px;
    border-radius: 15px;
}