.monthPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 85vh;
}

.monthCarousel{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.monthCarousel h1{
    color: #2b3347;
}

.monthCarousel a{
    text-decoration: none;;
}

.prevMonth{
    height: 100%;
    width: 5%;
    align-content: center;
    background-color: #424F6D;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
}

.nextMonth{
    height: 100%;
    width: 5%;
    align-content: center;
    text-align: center;
    background-color: #424F6D;
    border-radius: 8px 0px 0px 8px;
}


.monthContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #424F6D;
    border-radius: 10px;
    margin: 8px;
    overflow: hidden;
    width: 80%;
}

.calendar{
    width: 100%;
    height: 100%;
    margin: 10px;
    border: 10px;
}

.calendarHeader{
    background-color: #2b3347;
    color: #5b6886;
    padding: 10px, 0;
    font-size: 20px;
    height: 10%;
    border-radius: 10px;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

table{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    border-spacing: 4px;
}

thead{
    justify-content: space-evenly;
}

.calendarTable{
    border: 0,10px,0,10px;
}

th, td{
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
    width: 14%;
}

th{
    background-color: #424F6D;
    color: #2b3347;
}
td{
    background-color: #5b6886;
    align-content: flex-start;
    text-align: right;
    color: #2b3347;
    border: solid transparent, 4px;
}
td:hover{
    background-color:#424F6D;
    border: solid 4px #5b6886;
    cursor: pointer;
}

/*
lightest: 5b6886
middle: 424F6D
darkest: 2b3347
*/