.monthContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #5b6886;
    border-radius: 10px;
    margin: 8px;
    overflow: hidden;
    text-align: center;
}

.monthRow{
    display: flex;
    flex-direction: row;
}

.calendar{
    width: 100%;
    height: 100%;
}

.calendarHeader{
    background-color: #424F6D;
    color: #ffff;
    padding: 10px, 0;
    font-size: 20px;
    height: 10%;
    border-radius: 10px;
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

th, td{
    padding: 8px;
    text-align: center;
    border: 5px, hidden #ffff;
    border-radius: 10px;
}

th{
    background-color: #2b3347;
}
td:hover{
    background-color:#424F6D;
}
