.leafImg{
    width: 150px;
}

.signPage{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signContainer{
    height: 70vh;
    width: 30vw;
    background-color: #424F6D;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signContainer form{
    background-color: #5b6886;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    border-radius: 8px;
}

.signContainer form input{
    margin: 8px;
    height: 8%;
    width: 70%;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin: 16px;
}

.signForm{
    height: 100%;
    padding: 15px 0px;
}

.signContainer form input::placeholder{
    color: #5b6886;
}

.loginLink{
    color: #5b6886;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 20px;
}

h1{
    color: #FFFFFF;
}