.navbar{
    background-color: #424F6D;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 50px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.35em;
}